{{title}}
       
 <!-- Navigation -->
   
   
	<div class="row" ng-controller="aboutController">
   <div class="social-box col-md-offset-4">
			<div class="row mg-btm">
             <div class="col-md-10">
     <!-- <button  ng-click="login()" ng-hide="isLoggedIn"  class="btn btn-primary btn-block">
                  <i class="icon-facebook"></i>    Login with Facebook
                </button>-->

                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

             </div></div>
</div></div>
