{{title}}
        
            <div class="col-lg-12">
                <h1 class="page-header">
                    This is a Facebook Mini App;
                </h1>
                    Features:
                   <ul>
                    <li> 1.Login with facebook.</li>
                  <li>   2. save user profile to pouchdb.</li>
                  <li>   3. view logged-in user profile</li>
                   <li>  4. logout</li>
                   </ul>
                
            </div>
            <p ng-include src='"templates/about.html"'>
 
 </p>
             <div id="fb-root">
        </div>
             <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>